{{#paper-card as |card|}}

    {{#unless currentGeoJSON}}

        {{#if imageUrl}}
            {{card.image src=model.imageUrl alt=model.name }}
        {{/if}}

        {{#card.title as |title|}}
            {{#title.text as |text|}}
                {{#text.headline}}{{model.name}}{{/text.headline}}
            {{/title.text}}
        {{/card.title}}
        {{#card.content}}

            {{#paper-list}}
                {{#if model.description}}
                    {{#paper-item class="md-2-line" }}
                        <div class="md-list-item-text">
                            <p>{{model.description}}</p>
                        </div>
                        {{paper-divider}}
                    {{/paper-item}}
                {{/if}}

                {{#if model.phone}}
                    {{#paper-item class="md-2-line" }}
                        <div class="md-list-item-text">
                            <p>{{paper-icon "local_phone"}} {{model.phone}}</p>
                        </div>
                        {{paper-divider}}
                    {{/paper-item}}
                {{/if}}


                {{#paper-item class="md-2-line" }}
                    <div class="md-list-item-text">
                        <p>
                            {{paper-icon "layers"}}
                            {{#if model.level}}
                                Piso N# {{model.level}}
                            {{else}}
                                Planta Baja
                            {{/if}}
                        </p>
                    </div>
                    {{paper-divider}}
                {{/paper-item}}


            {{/paper-list}}


        {{/card.content}}
        {{#card.actions}}

            {{#paper-button iconButton=true raised=true primary=true onClick=(action "getShortestRoute")}}
                {{paper-icon "directions_run" }}
            {{/paper-button}}

            {{#paper-button iconButton=true}}{{paper-icon "edit"}}{{/paper-button}}

        {{/card.actions}}


        {{#if loading}}
            {{paper-progress-linear accent=true}}
        {{/if}}

        {{else}}


            {{#leaflet-map lat=lat lng=lng zoom=zoom}}

                {{!--
                  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
                --}} {{tile-layer url="http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png" }}

                    {{#marker-layer location=location}}
                        <h3>{{model.name}}</h3> Jugos y Refrescos
                        <br> telf: 7892121
                    {{/marker-layer}}

                    {{#if userLocation}}

                        {{#marker-layer location=userLocation}}
                            <h3>{{userLocation}}</h3>
                        {{/marker-layer}}

                    {{/if}}

                    {{#if currentGeoJSON}}
                        {{#geojson-layer geoJSON=currentGeoJSON color='red' }}
                        {{/geojson-layer}}
                    {{/if}}


            {{/leaflet-map}}

            <div class="paper-right">
                {{#paper-button iconButton=true raised=true primary=true onClick=(action "clearGeoJSON") }}
                    {{paper-icon "clear" }}
                {{/paper-button}}
            </div>

    {{/unless}}
{{/paper-card}}
