{{#paper-card as |card|}}

    {{#unless currentGeoJSON}}

      {{#if imageLoading}}
          <div class="middle">
            {{paper-progress-circular warn=true diameter=96}}
          </div>
      {{/if}}

        {{#if imageUrl}}
            {{card.image src=imageUrl alt=imageUrl }}
        {{/if}}

        {{#card.title as |title|}}
            {{#title.text as |text|}}
                {{#text.headline}}{{model.name}}{{/text.headline}}
            {{/title.text}}
        {{/card.title}}
        {{#card.content}}

            {{#paper-list}}
                {{#if model.description}}
                    {{#paper-item class="md-2-line" }}
                        <div class="md-list-item-text">
                            <p>{{model.description}}</p>
                        </div>
                        {{paper-divider}}
                    {{/paper-item}}
                {{/if}}

                {{#if model.phone}}
                    {{#paper-item class="md-2-line" }}
                        <div class="md-list-item-text">
                            <p>{{paper-icon "local_phone"}} {{model.phone}}</p>
                        </div>
                        {{paper-divider}}
                    {{/paper-item}}
                {{/if}}


                {{#paper-item class="md-2-line" }}
                    <div class="md-list-item-text">
                        <p>
                            {{paper-icon "layers"}}
                            {{#if model.level}}
                                Piso N# {{model.level}}
                            {{else}}
                                Planta Baja
                            {{/if}}
                        </p>
                    </div>
                    {{paper-divider}}
                {{/paper-item}}


            {{/paper-list}}


        {{/card.content}}
        {{#card.actions}}

            <!-- ember-uploader component, input type file -->
            <div class="button-leftdown">
              {{#paper-button iconButton=true }}
              {{file-upload  placeId=model.id imageSave=imageSaving}}
              {{paper-icon "directions_run" }}
              {{/paper-button}}


            </div>

            {{#if imageSaving}}
              {{paper-progress-circular accent=true diameter=40}}
            {{/if}}

            {{#paper-button iconButton=true raised=true primary=true onClick=(action "getShortestRoute")}}
                {{paper-icon "directions_run" }}
            {{/paper-button}}

            {{#paper-button iconButton=true raised=true onClick=(transition-to 'places.edit' model)}}{{paper-icon "edit"}}{{/paper-button}}

        {{/card.actions}}


        {{#if loading}}
            {{paper-progress-linear accent=true}}
        {{/if}}

        {{else}}

            {{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}

                {{layers.tile url="http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"}}

                    {{#layers.marker location=location as |marker|}}
                      {{#marker.popup}}
                        <h3>{{model.name}}</h3>
                        {{#if model.description}}
                          {{model.description}} <br>
                        {{/if}}
                        {{#if model.phone}}
                          <strong>telf:</strong> {{model.phone}} <br>
                        {{/if}}
                        {{#if model.level}}
                          <strong>piso </strong>#{{model.level}}
                        {{else}}
                          Planta Baja
                        {{/if}}
                      {{/marker.popup}}
                    {{/layers.marker}}

                    {{#if userLocation}}

                        {{#layers.marker location=userLocation as |marker|}}
                          {{#marker.popup}}
                            <h3>{{userLocation}}</h3>
                          {{/marker.popup}}
                        {{/layers.marker}}
                    {{/if}}

                    {{#if currentGeoJSON}}
                        {{#layers.geojson geoJSON=currentGeoJSON color='red' }}
                        {{/layers.geojson}}
                    {{/if}}

            {{/leaflet-map}}

            <div class="button-rightdown">
                {{#paper-button iconButton=true raised=true primary=true onClick=(action "clearGeoJSON") }}
                    {{paper-icon "clear" }}
                {{/paper-button}}
            </div>

    {{/unless}}
{{/paper-card}}
